@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  cursor: url("../img/commonImages/cursor.svg"), auto;
}

.hidden_file_input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.rec.rec-arrow {
  background-color: #ffffff;
  border: none;
  box-shadow: none;
  color: transparent;
  position: absolute;
  z-index: 99999;
  border: 1px solid #d2d9d8;
}

.rec.rec-arrow:hover {
  background-color: #ffffff !important;
  color: transparent !important;
  outline: none !important;
  border: none;
}

.rec.rec-arrow:focus {
  background-color: #ffffff !important;
  color: transparent !important;
  outline: none !important;
  border: none;
}

.rec-arrow-left {
  background-image: url("../img/commonImages/left_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: -10px;
}

.rec-arrow-right {
  background-image: url("../img/commonImages/right_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: -10px;
}
